{% extends "reward/main_wrapper.html" %}
{% load static %}
{% block page_styles %}{% endblock %}

{% block page_title %}What is this thing?{% endblock %}

{% block main %}

<p>
  Reward Yourself is a behavior-change gamification tool that is designed to make it easier for users to reward themselves for small (or big) efforts they make toward things they want to change/accomplish in life. This web app focuses on mobile-friendliness, so user can pull out their smartphone anywhere and anytime and give themselves an electronic high-five for making an effort.
</p>

<p>
  Keeping track of a long checklist of daily/weekly/monthly goals can become a chore in and of itself. Reward Yourself simplifies this problem by letting the user reward themselves right away, quickly and easily, without searching through a task list. Instead of a laundry list, the user has just one big button to congratulate themselves right in the moment they make their good effort. Each punch of the button adds to a running point total that can be cashed in later from a list of rewards.
</p>

<p>
  Different rewards work for different people, so Reward Yourself focuses primarily on allowing the user to define their own list of rewards and how much they need to do before they can cash them in. A user might spend 20 points to order pizza instead of cooking on Friday, or 100 to take themselves and a partner out to dinner.
</p>

<p>
  Finally, Reward Yourself can be a team effort. Group up with another user to share goals and pool points toward something bigger and better. If you and your spouse each making an effort to exercise for five minutes could turn into that 500 point weekend getaway you stuck up at the top of your reward store.
</p>

{% endblock %}
