{% extends "reward/main_wrapper.html" %}
{% load static %}

{% block page_styles %}{% endblock %}

{% block page_title %}
  Groups
{% endblock %}

{% block main %}
  <a href="/profile/">Change Current Group</a>

  <div class="invite_list" id="invite_list">
    {% if invites %}
    <h3>Group Invites</h3>
      {% for invite in invites %}
        <div class="invite" id="{{ invite.pk }}">
          <p>
            You have a pending invite from {{ invite.group }}.
          </p>
          <button type="button" name="accept_invite" class="accept_reject">Accept</button>
          <button type="button" name="reject_invite" class="accept_reject">Reject</button>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  <div class="control_panel" id="current_dashboard">
    <h3>Current Group Dashboard</h3>

    <div class="dashboard_field" id="dashboard_name">
      Group Name: {{ current_group.group_name }}
    </div>

    <div class="dashboard_field" id="dashboard_points">
      Group Points: {{ current_group.total_points }}
    </div>

    <div class="dashboard_field" id="dashboard_members">
      Group Members:
        <ul class="member_list">
          {% for member in group_users %}
            <li id="member_{{member.pk}}">
              {{ member.username }}
            </li>
          {% endfor %}
        </ul>
    </div>

    <div class="dashboard_field" id="dashboard_invite">
      <h4>Invite a New User to {{ current_group.group_name }}:</h4>
      <form class="invite_user" action="" method="post">
        {% csrf_token %}
        <label for="usersname">Username</label>
        <input type="text" name="username" value="" id="username">
        <input type="button" name="search_invite" value="Search" id="search">
      </form>
    </div>
  </div>

  <div id="new_group_form" class="hidden_form">
    <h3>Create New Group</h3>
    <form class="new_group" action="/new_group/" method="post">
      {% csrf_token %}
      {{ group_form }}
      <input type="submit" name="new_group" value="Create New Group" id="new_group">
    </form>
  </div>

{% endblock %}
{% block page_javascript %}
  <script type="text/javascript" src='{% static "reward/js/group.js" %}'>
  </script>
{% endblock %}
