{% extends "reward/main_wrapper.html" %}
{% load static %}
{% block page_styles %}
<link rel="stylesheet" href='{% static "reward/css/main.css" %}'>
{% endblock %}
{% block page_title %}Main{% endblock %}
{% block main %}

  <button type="button" name="add_point" id="add_point">
    Good Job! Give yourself a point!
  </button>

  {% if next_avail %}
    <div class="next_reward">
      <p>
        You are this close to your next reward:
      </p>
      <div class="progress_bar" id="next_reward_bar">
        <span class="floating_text">
          {{ next_avail.reward_name }}
        </span>
        <br>
        <span class="point_display">
          {{ active_group.total_points }} / {{ next_avail.point_cost }}
        </span>
        <div class="inner_bar" id="inner_bar">
        </div>
      </div>
    </div>
  {% endif %}

  {% if highest_avail %}
    <div class="current_reward">
      <button type="button" name="get_reward" id="get_reward">
        You can already get: {{ highest_avail.reward_name }}
        <br>
        For {{ highest_avail.point_cost }} points!
      </button>
    </div>
  {% endif %}

{% endblock %}
{% block page_javascript %}
  <script type="text/javascript">
    var totalPoints = {{ active_group.total_points }},
        pointCost = {{ next_avail.point_cost }};
  </script>
  <script type="text/javascript" src='{% static "reward/js/main.js" %}'>
  </script>
{% endblock %}
