{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='{% static "reward/css/main_wrapper.css" %}' media="screen" title="no title" charset="utf-8">
    {% block page_styles %}{% endblock %}
    <title>Reward Yourself</title>
  </head>
  <body>
    <header>
      <h1>Reward Yourself, {{ request.user.username }}</h1>
      <h2>{% block page_title %}{% endblock %}</h2>
      <p id="point_total">
        {{ request.user.profile.active_group.group_name }} has
        {{ request.user.profile.active_group.total_points }} total points.
      </p>
    </header>
    {% block main %}

    {% endblock %}
    <footer>
      {% if user.is_authenticated %}<input type="button" name="logout" value="Log Out" id="logout">{% endif %}
      <p>&copy 2016 Juan Espinet</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src='{% static "reward/js/main_wrapper.js" %}'></script>
    {% block page_javascript %}{% endblock %}
  </body>
</html>
