{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='{% static "reward/css/main_wrapper.css" %}' media="screen" title="no title" charset="utf-8">
    {% block page_styles %}{% endblock %}
    <title>Reward Yourself</title>
  </head>
  <body>
    <header>
      <h1>Reward Yourself
        {% if request.user.username %}
        , {{ request.user.username }}
        {% endif %}</h1>
      <h2>{% block page_title %}{% endblock %}</h2>
      <p>
        {% if request.user.profile.active_group.group_name %}
        {{ request.user.profile.active_group.group_name }} has
        <span id="point_total">
          {{ request.user.profile.active_group.total_points }}
        </span>
        total points.
        {% endif %}
      </p>
      <nav class="header_nav">
        <ul>
          <li><a href="/main/" id="main_page_link">Main</a></li>
          <li><a href="/rewards/" id="reward_page_link">Rewards</a></li>
          <li><a href="/profile/" id="profile_page_link">Profile</a></li>
          <!--{% for nav in nav_url_list %}
            <li><a href="{{ nav.url }}" id="{{ nav }}_link">{{ nav.name }}</a></li>
          {% endfor %}-->
        </ul>
      </nav>
    </header>
    {% block main %}

    {% endblock %}
    <footer>
      {% if user.is_authenticated %}<input type="button" name="logout" value="Log Out" id="logout">{% endif %}
      <p>&copy 2016 Juan Espinet</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src='{% static "reward/js/main_wrapper.js" %}'></script>
    {% block page_javascript %}{% endblock %}
  </body>
</html>
