{% extends "reward/main_wrapper.html" %}
{% block page_styles %}{% endblock %}
{% block page_title %}Profile{% endblock %}
{% block main %}
  <p>
    Welcome to your profile, {{ request.user.username }}.
  </p>
  <form class="profile" action="">
    <fieldset class="namefields">
      <legend>Name:</legend>
      <label for="first_name">First:</label>
      <input type="text" name="first_name" value="{{ request.user.first_name }}">
      <label for="last_name">Last:</label>
      <input type="text" name="last_name" value="{{ request.user.last_name }}">
    </fieldset>
    <label for="active_group">Active Group:</label>
    <select class="active_group" name="active_group">
      {% for group in groups %}
        <option {% if user_act_group.id == group.id %}selected{% endif %}>
          {{ group.group_name }}
        </option>
      {% endfor %}
    </select>
    <label for="email">E-mail:</label>
    <input type="email" name="email" value="{{ request.user.email }}">
    <label for="date_of_birth">Date of Birth:</label>
    <input type="date" name="date_of_birth" value="{{ user_dob }}">
  </form>
{% endblock %}
{% block page_javascript %}{% endblock %}
