{% extends "reward/main_wrapper.html" %}
{% load static %}
{% block page_styles %}{% endblock %}
{% block page_title %}Rewards{% endblock %}
{% block main %}
  <p>
    Available rewards for {{ request.user.profile.active_group.group_name }}:
  </p>
  <div class="buttonBlock" id="rewardBlock">
  {% for reward in rewards %}
    <button
      class="rewardButton"
      type="button"
      name="{{ reward.reward_name }}"
      id="{{ reward.id }}"
      {% if request.user.profile.active_group.total_points < reward.point_cost %}
        disabled
      {% endif %}>
      {{ reward.reward_name }}
      <br>
      {{ reward.point_cost }}
    </button>
    <label for="{{ reward.reward_name }}">
      {{ reward.description }}
    </label>
  {% endfor %}
  </div>
  <div class="hiddenForm" id="addReward">
    <form class="" action="/new_reward/" method="post" id="newRewardForm">
      {% csrf_token %}
      {{ rew_form }}
      <input type="submit" name="newReward" value="Create New" id="submitNew">
    </form>
  </div>
{% endblock %}
{% block page_javascript %}
  <script type="text/javascript" src='{% static "reward/js/rewards.js" %}'>
  </script>
{% endblock %}
