{% extends "reward/main_wrapper.html" %}
{% load static %}
{% block page_styles %}{% endblock %}
{% block page_title %}Rewards{% endblock %}
{% block main %}
  <p>
    Available rewards for {{ request.user.profile.active_group.group_name }}:
  </p>
  <div class="button_block" id="reward_block">
  {% for reward in rewards %}
    <div class="button_holder" id="holder{{ reward.id }}">
      <button
        class="reward_button"
        type="button"
        name="{{ reward.reward_name }}"
        id="{{ reward.id }}"
        {% if request.user.profile.active_group.total_points < reward.point_cost %}
          disabled
        {% endif %}>
        {{ reward.reward_name }}
      <br>
        {{ reward.point_cost }}
      </button>
      <br>
      <label for="{{ reward.reward_name }}">
        {{ reward.description }}
      </label>
    </div>
  {% endfor %}
  </div>
  <div class="hidden_form" id="add_reward">
    <form class="" action="/new_reward/" method="post" id="new_reward_form">
      {% csrf_token %}
      {{ rew_form }}
      <input type="submit" name="new_reward" value="Create New" id="submit_new">
    </form>
  </div>
{% endblock %}
{% block page_javascript %}
  <script type="text/javascript" src='{% static "reward/js/rewards.js" %}'>
  </script>
{% endblock %}
